[data-dpr="1"] .font50 {
  font-size: 50px;
}
[data-dpr="2"] .font50 {
  font-size: 100px;
}
[data-dpr="3"] .font50 {
  font-size: 150px;
}
[data-dpr="1"] .font36 {
  font-size: 36px;
}
[data-dpr="2"] .font36 {
  font-size: 72px;
}
[data-dpr="3"] .font36 {
  font-size: 108px;
}
[data-dpr="1"] .font30 {
  font-size: 30px;
}
[data-dpr="2"] .font30 {
  font-size: 60px;
}
[data-dpr="3"] .font30 {
  font-size: 90px;
}
[data-dpr="1"] .font24 {
  font-size: 24px;
}
[data-dpr="2"] .font24 {
  font-size: 48px;
}
[data-dpr="3"] .font24 {
  font-size: 72px;
}
[data-dpr="1"] .font20 {
  font-size: 20px;
}
[data-dpr="2"] .font20 {
  font-size: 40px;
}
[data-dpr="3"] .font20 {
  font-size: 60px;
}
[data-dpr="1"] .font18 {
  font-size: 18px;
}
[data-dpr="2"] .font18 {
  font-size: 36px;
}
[data-dpr="3"] .font18 {
  font-size: 54px;
}
[data-dpr="1"] .font16 {
  font-size: 16px;
}
[data-dpr="2"] .font16 {
  font-size: 32px;
}
[data-dpr="3"] .font16 {
  font-size: 48px;
}
[data-dpr="1"] .font15 {
  font-size: 15px;
}
[data-dpr="2"] .font15 {
  font-size: 30px;
}
[data-dpr="3"] .font15 {
  font-size: 45px;
}
[data-dpr="1"] .font14 {
  font-size: 14px;
}
[data-dpr="2"] .font14 {
  font-size: 28px;
}
[data-dpr="3"] .font14 {
  font-size: 42px;
}
[data-dpr="1"] .font12 {
  font-size: 12px;
}
[data-dpr="2"] .font12 {
  font-size: 24px;
}
[data-dpr="3"] .font12 {
  font-size: 36px;
}
#recommend {
  width: 100%;
  position: fixed;
  top: 2.133333rem;
  bottom: 0;
}
#recommend .recommend-content {
  height: 100%;
  overflow: hidden;
}
#recommend .recommend-content .recommend-list .list-title {
  height: 1.333333rem;
  line-height: 1.333333rem;
  text-align: center;
  color: #ffcd32;
}
#recommend .recommend-content .list-content .list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  padding-bottom: 20px;
}
#recommend .recommend-content .list-content .list-item .list-item-img {
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
}
#recommend .recommend-content .list-content .list-item .list-item-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#recommend .recommend-content .list-content .list-item .list-item-text h2 {
  margin-bottom: 10px;
  color: #fff;
}
#recommend .recommend-content .list-content .list-item .list-item-text p {
  color: rgba(255, 255, 255, 0.3);
}
#rank {
  position: fixed;
  bottom: 0;
  top: 2.133333rem;
  width: 100%;
}
#rank .rank-list {
  height: 100%;
  overflow: hidden;
}
#rank .rank-list .list-item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#rank .rank-list .list-item .left-pic {
  width: 2.666667rem;
  height: 2.666667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#rank .rank-list .list-item .right-content {
  width: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #333;
  padding: 0 .266667rem;
}
#rank .rank-list .list-item .right-content .song {
  margin-top: .266667rem;
  color: #fff;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#singer {
  position: fixed;
  bottom: 0;
  top: 2.133333rem;
  width: 100%;
  overflow: hidden;
}
#singer .singer-list {
  height: 100%;
  overflow: hidden;
}
#singer .list-group {
  padding-bottom: 30px;
}
#singer .list-group .group-title {
  background-color: #333;
  height: 60px;
  color: #fff;
  width: 100%;
  padding-left: .533333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#singer .list-group .group-content .group-item {
  padding-top: .533333rem;
  padding-left: .8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#singer .list-group .group-content .group-item img {
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: 50%;
}
#singer .list-group .group-content .group-item .text {
  color: #fff;
  margin-left: .4rem;
}
#singer .aside {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  padding: .533333rem 0;
  width: .533333rem;
  border-radius: .266667rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
#singer .aside .aside-item {
  color: #fff;
}
#singer .fixed-title {
  padding-left: .533333rem;
  height: 60px;
  line-height: 60px;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.current {
  color: #ffcd32;
}
#singer-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#singer-detail .music-list {
  height: 100%;
  background-color: #222;
}
#singer-detail .music-list .icon-back {
  position: absolute;
  left: .4rem;
  top: 20px;
  color: #ffcd32;
  z-index: 9999;
}
#singer-detail .music-list .music-list-title {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 20px;
  width: 100%;
  z-index: 999;
}
#singer-detail .music-list .bgImg {
  height: 40%;
  background-size: cover;
  position: relative;
  z-index: 99;
}
#singer-detail .music-list .bgImg .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 17, 27, 0.4);
}
#singer-detail .music-list .bgImg .play {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 3.466667rem;
  padding: .186667rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ffcd32;
  color: #ffcd32;
  border-radius: 100px;
  font-size: 0;
  z-index: 9999;
  position: absolute;
  bottom: .533333rem;
  left: 0;
  right: 0;
}
#singer-detail .music-list .bgImg .play i {
  margin-right: 8px;
}
#singer-detail .music-list .bg-layer {
  background-color: #222;
  height: 100%;
}
#singer-detail .music-list .list {
  width: 100%;
  overflow: hidden;
  height: 60%;
}
#singer-detail .music-list .song {
  background-color: #222;
  padding: 0.53333rem 0.8rem .066667rem 0.8rem;
}
#singer-detail .music-list .song .song-list-item {
  margin-bottom: .4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#singer-detail .music-list .song .song-list-item .name {
  color: #fff;
  margin-bottom: .266667rem;
}
#singer-detail .music-list .song .song-list-item p {
  color: rgba(255, 255, 255, 0.3);
}
#singer-detail .music-list .song .song-list-item .rank {
  width: 0.3rem;
  margin-right: 0.8rem;
  text-align: center;
}
#rank-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#rank-detail .music-list {
  height: 100%;
  background-color: #222;
}
#rank-detail .music-list .icon-back {
  position: absolute;
  left: .4rem;
  top: 20px;
  color: #ffcd32;
  z-index: 9999;
}
#rank-detail .music-list .music-list-title {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 20px;
  width: 100%;
  z-index: 999;
}
#rank-detail .music-list .bgImg {
  height: 40%;
  background-size: cover;
  position: relative;
  z-index: 99;
}
#rank-detail .music-list .bgImg .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 17, 27, 0.4);
}
#rank-detail .music-list .bgImg .play {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 3.466667rem;
  padding: .186667rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ffcd32;
  color: #ffcd32;
  border-radius: 100px;
  font-size: 0;
  z-index: 9999;
  position: absolute;
  bottom: .533333rem;
  left: 0;
  right: 0;
}
#rank-detail .music-list .bgImg .play i {
  margin-right: 8px;
}
#rank-detail .music-list .bgImg .bg-layer {
  background-color: #222;
  height: 100%;
}
#rank-detail .music-list .list {
  width: 100%;
  overflow: hidden;
  height: 60%;
}
#rank-detail .music-list .song {
  background-color: #222;
  padding: 0.53333rem 0.8rem .066667rem 0.8rem;
}
#rank-detail .music-list .song .song-list-item {
  margin-bottom: .4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#rank-detail .music-list .song .song-list-item .name {
  color: #fff;
  margin-bottom: .266667rem;
}
#rank-detail .music-list .song .song-list-item p {
  color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#rank-detail .music-list .song .song-list-item .rank {
  margin-right: 0.8rem;
  text-align: center;
}
#rank-detail .music-list .song .song-list-item .rank .text {
  color: #ffcd32;
  width: .8rem;
  display: inline-block;
}
#rank-detail .music-list .song .song-list-item .rank .icon0 {
  background-image: url(../images/firstM.png);
  width: .8rem;
  height: .64rem;
  display: inline-block;
  background-size: cover;
}
#rank-detail .music-list .song .song-list-item .rank .icon1 {
  background-image: url(../images/secondM.png);
  width: .8rem;
  height: .64rem;
  display: inline-block;
  background-size: cover;
}
#rank-detail .music-list .song .song-list-item .rank .icon2 {
  background-image: url(../images/thirdM.png);
  width: .8rem;
  height: .64rem;
  display: inline-block;
  background-size: cover;
}
#rank-detail .music-list .song .song-list-item:last-child {
  margin-bottom: 0;
}
#user {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #222;
  width: 100%;
}
#user .user-header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}
#user .user-header .icon-back {
  color: #ffcd32;
  z-index: 9999;
  position: absolute;
  left: 30px;
}
#user .user-header .user-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
#user .user-header .user-tab .switches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6.4rem;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
}
#user .user-header .user-tab .switches .switches-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
}
#user .user-header .user-tab .switches .switches-item.active {
  background: #333;
  color: #fff;
}
#user .play-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 3.6rem;
  padding: 0.24rem 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.788);
  border-radius: 3.6rem;
}
#user .list-warraper {
  position: absolute;
  top: 2.8rem;
  bottom: 0;
  width: 100%;
}
#user .list-warraper .list-scroll {
  margin: 0 1.066667rem;
  margin-bottom: 20px;
  height: 100%;
  overflow: hidden;
}
#user .list-warraper .list-scroll .song-list-item {
  margin-top: 30px;
}
#user .list-warraper .list-scroll .song-list-item .content .name {
  margin-bottom: 20px;
}
#user .list-warraper .list-scroll .song-list-item .content .desc {
  color: rgba(255, 255, 255, 0.3);
}
#user .list-warraper .list-scroll .no-result {
  color: rgba(255, 255, 255, 0.4);
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#player .normal-player {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background: #222;
  font-size: 0;
}
#player .normal-player .bg-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
#player .normal-player .bg-player img {
  width: 100%;
  height: 100%;
}
#player .normal-player .top .top-title {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
}
#player .normal-player .top .top-title i {
  display: block;
  color: #ffcd32;
  position: absolute;
  top: 20px;
  left: 30px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#player .normal-player .top .top-title h1 {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
#player .normal-player .top .top-title .title-singer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#player .normal-player .middle {
  width: 100%;
  height: 55%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#player .normal-player .middle .cd-lyric {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.589);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5%;
}
#player .normal-player .bottom .bottom-time-box {
  width: 8rem;
  height: 0.8rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#player .normal-player .bottom .bottom-time-box .time-l {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
}
#player .normal-player .bottom .bottom-time-box .time-r {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
}
#player .normal-player .bottom .bottom-time-box .progress-bar {
  width: 100%;
  height: 0.8rem;
  margin-left: 10px;
  margin-right: 10px;
}
#player .normal-player .bottom .bottom-time-box .progress-bar .bar-inner {
  position: relative;
  top: 0.34667rem;
  height: 0.10667rem;
  background: rgba(0, 0, 0, 0.3);
}
#player .normal-player .bottom .bottom-time-box .progress-bar .bar-inner .progress {
  position: absolute;
  height: 100%;
  background: #ffcd32;
}
#player .normal-player .bottom .bottom-time-box .progress-bar .bar-inner .progress-btn-wrapper {
  position: absolute;
  left: -0.21333rem;
  top: -0.34667rem;
  width: 0.8rem;
  height: 0.8rem;
}
#player .normal-player .bottom .bottom-time-box .progress-bar .bar-inner .progress-btn-wrapper .progress-btn {
  position: relative;
  top: 0.18667rem;
  left: 0.18667rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0.42667rem;
  height: 0.42667rem;
  border: 0.08rem solid #fff;
  border-radius: 50%;
  background: #ffcd32;
}
#player .normal-player .bottom-button-box {
  width: 8rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
#player .normal-player .bottom-button-box i {
  color: #ffcd32;
}
#player .mini-player {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 120;
  background: #333;
  height: 1.6rem;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#player .mini-player .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#player .mini-player .left .text {
  width: 80%;
  color: #fff;
  margin-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#player .mini-player .left .text h2 {
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
}
#player .mini-player .left .text p {
  display: -webkit-box;
  margin-top: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
}
#player .mini-player .control {
  width: 30%;
  text-align: right;
}
#player .mini-player .control i {
  color: rgba(255, 205, 49, 0.5);
}
#player .mini-player .control .icon-two {
  margin-left: 20px;
}
#player .playlist-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.3);
}
#player .playlist-box .playlist {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.53333rem 0.8rem 0rem 0.53333rem;
  background: #333333;
}
#player .playlist-box .playlist .list-header {
  width: 100%;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#player .playlist-box .playlist .list-header .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#player .playlist-box .playlist .list-header .left i {
  color: #ffcd32;
}
#player .playlist-box .playlist .list-header .left span {
  color: rgba(255, 255, 255, 0.644);
  margin-left: 20px;
}
#player .playlist-box .playlist .list-header .right i {
  color: #ffcd32;
}
#player .playlist-box .playlist .list-close {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #222;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
#player .playlist-box .playlist .list-content {
  width: 100%;
  max-height: 35vh;
  overflow: hidden;
}
#player .playlist-box .playlist .list-content ul li {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#player .playlist-box .playlist .list-content ul li .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#player .playlist-box .playlist .list-content ul li .left .icon {
  width: 40px;
  display: inline-block;
}
#player .playlist-box .playlist .list-content ul li .left .icon i {
  color: #ffcd32;
}
#player .playlist-box .playlist .list-content ul li .left .name {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 6rem;
}
#player .playlist-box .playlist .list-content ul li .right .close-icon {
  color: #ffcd32;
}
#player .playlist-box .playlist .list-content ul li .right .favorite-icon {
  margin-right: 20px;
  color: #ffcd32;
}
#player .playlist-box .playlist .add-song {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}
#player .playlist-box .playlist .add-song .text {
  padding: 15px 0;
  width: 3.73333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3rem;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}
#player .playlist-box .playlist .add-song .text i {
  margin-right: 10px;
}
#player .playlist-box .playlist .list-close {
  width: 100%;
  height: 1.066667rem;
  background: #222;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
}
#player .playlist-box .confirm {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.424);
  z-index: 999;
  width: 100%;
}
#player .playlist-box .confirm .confirm-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
#player .playlist-box .confirm .confirm-wrapper .confirm-content {
  width: 7rem;
  border-radius: 13px;
  background-color: #333;
}
#player .playlist-box .confirm .confirm-wrapper .confirm-content .text {
  padding: 30px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.746);
}
#player .playlist-box .confirm .confirm-wrapper .confirm-content .operate {
  widows: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#player .playlist-box .confirm .confirm-wrapper .confirm-content .operate .operate-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.52);
}
#player .playlist-box .confirm .confirm-wrapper .confirm-content .operate .left {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#player .playlist-box .addSong .addSong-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
}
#player .playlist-box .addSong .addSong-title h1 {
  color: #fff;
}
#player .playlist-box .addSong .addSong-title i {
  color: #ffcd32;
  position: absolute;
  right: 20px;
}
#player .playlist-box .addSong .addSong-list {
  margin-top: 30px;
}
#player .playlist-box .addSong .addSong-list .switches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6.4rem;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
}
#player .playlist-box .addSong .addSong-list .switches .switches-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
}
#player .playlist-box .addSong .addSong-list .switches .switches-item.active {
  background: #333;
  color: #fff;
}
#player .playlist-box .addSong .addSong-list .list-warraper {
  position: absolute;
  top: 2.5rem;
  bottom: 0;
  width: 100%;
}
#player .playlist-box .addSong .addSong-list .list-warraper .list-scroll {
  margin: 0 1.066667rem;
  margin-bottom: 20px;
  height: 100%;
  overflow: hidden;
}
#player .playlist-box .addSong .addSong-list .list-warraper .list-scroll .song-list-item {
  margin-top: 30px;
}
#player .playlist-box .addSong .addSong-list .list-warraper .list-scroll .song-list-item .content .name {
  margin-bottom: 20px;
}
#player .playlist-box .addSong .addSong-list .list-warraper .list-scroll .song-list-item .content .desc {
  color: rgba(255, 255, 255, 0.3);
}
#player .playlist-box .top-tip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
#player .playlist-box .top-tip .tip-title {
  background: #5ba9f1;
  text-align: center;
  padding: 20px 0;
}
#player .playlist-box .addSong {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #222;
}
#search .searchInput-box {
  margin: .533333rem;
}
#search .searchInput-box .searchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.16rem;
  height: 1.06667rem;
  background: #333;
  border-radius: 0.16rem;
}
#search .searchInput-box .searchInput .togo {
  width: 0.48rem;
  height: 0.48rem;
}
#search .searchInput-box .searchInput .input-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin: 0 0.13333rem;
  line-height: 0.48rem;
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  text-indent: 0.13333rem;
}
#search .searchInput-box .searchInput .toclear {
  width: 0.48rem;
  height: 0.48rem;
}
#search .scroll-box {
  margin: 0 .533333rem;
}
#search .scroll-box .title {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.53333rem;
}
#search .scroll-box .hotCon {
  display: inline-block;
  padding: 0.13333rem 0.26667rem;
  border-radius: 0.16rem;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 0.26667rem;
  margin-right: 0.53333rem;
  background: #333333;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.platStart {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  border: 0.26667rem solid rgba(255, 255, 255, 0.1);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}
.playEnd {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  border: 0.26667rem solid rgba(255, 255, 255, 0.1);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
  -webkit-animation-play-state: paused;
}
.ministart {
  width: 1.066667rem;
  height: 1.066667rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.miniend {
  width: 1.066667rem;
  height: 1.066667rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
  -webkit-animation-play-state: paused;
}
.list-fade-enter {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.list-fade-leave-to {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.list-fade-leave {
  opacity: 1;
}
.list-fade-enter-active,
.list-fade-leave-active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.list-li-enter-active,
.list-li-leave-active {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.list-li-enter,
.list-li-leave-to {
  height: 0;
}
.confirm,
.confirm-fade-enter-active {
  -webkit-animation: confirm-fadein 0.3s;
  animation: confirm-fadein 0.3s;
}
@-webkit-keyframes confirm-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes confirm-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes confirm-zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes confirm-zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.drop-enter-active,
.drop-leave-active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.drop-enter,
.drop-leave-to {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.slide-enter-active,
.slide-leave-active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slide-enter,
.slide-leave-to {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
